    body{
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    input[type=text],textarea,input[type=text]:focus,textarea:focus{
        width: 100%;
        text-align: left;
        background-color: inherit;
        font-size: 10px;
        color: inherit;
        border:none;
        outline: none;
    }
    input[type=date]{
        border:none;
        outline: none;
    }
    textarea{
        overflow-y: hidden;
        resize: none;
    }
    .input{
        margin: auto;
        width: 90%;
        height: 100vh;
    }
    header{
        font-size:18px;
        text-align: center;
        width: 100%;
        margin-bottom:20px;
    }

    .header-info div{
        display: flex;
        justify-content: space-around;
    }
    table{
        vertical-align: top;
        border:1;
        border-collapse: collapse;
        margin: 30px 0;
        width:100%;
    }
    table{
        border:1px solid black;
    }
    td,th{
        border-left:1px solid black;
        vertical-align: top;
        padding: 2px;
        border-: none;
    }
    .item{
        text-align: top;
    }
    .footer{
         margin:0 10px;
        border-collapse: collapse;
        width: 100%;
        margin-left: auto;
    }
    .footer input{
        text-align: start;
    }
    .delete-item{
        background-color: red;
        position: absolute;
        display: none;
    }
    .item:hover .delete-item{
        display: block;

    }
    .signature{
        width: 200px;
        margin-left: auto;
    }
    .main{
        height: 500px;
    }
    @media print{
        .no-print{
            visibility: hidden;
        }
    }

